@import '../../styles/variables';

.todos {
	width: 400px;
	border: 3px solid $color-yellow;
	margin: 0 auto;
	margin-top: $padding-main * 3;
	border-radius: 8px;
	overflow: hidden;
}

.todos-header {
	text-align: center;
	background: lighten($color-yellow, 20%);

	h2 {
		margin: 0;
		padding: 15px 0;
	}
}

.todos-list {
	padding: $padding-main;
}
